*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 14px;
  color: #5e5e5e;
  -webkit-font-smoothing: antialiased;

  background-color: #ffffff;

  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;

  color: #5e5e5e;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

.header__contact {
  background-color: #303030;
}

.header__contacts:after {
  content: "";
  clear: both;
  display: block;
}

.header__phone,
.header__envelope {
  font-family: "Roboto", sans-serif;
  color: #d3d2d2;

  line-height: 3.2;
  letter-spacing: 0.025em;

  padding-left: 25px;

  position: relative;
}

.header__phone {
  padding-right: 30px;
}

.header__phone::before {
  font-family: "icomoon";
  color: #ffc222;

  content: "\f095";

  position: absolute;
  left: 0;
}

.header__envelope::before {
  font-family: "icomoon";
  color: #ffc222;

  content: "\f003";

  position: absolute;
  left: 0;
}

.header__case {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  font-size: 16px;
  line-height: 2.8;

  float: right;

  background-color: #ffc222;

  padding: 0 20px 0 45px;

  position: relative;

  outline: none;
}

.header__case::before {
  font-family: "icomoon";
  content: "\f0b1";
  color: #1b1b1b;

  position: absolute;
  left: 20px;

  outline: none;
}

.header__line {
  padding: 25px 0px 18px;

  display: flex;

  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2.2;

  color: #323232;

  padding: 0 15px;

  border: 1px solid rgba(255, 194, 34, 0);

  transition: border 0.2s linear;
}

.menu a:hover {
  border: 1px solid rgba(255, 194, 34, 1);
}

.slider {
  background: #000 url(../img/header-bg--2.jpg) no-repeat center / cover;
}

.slider__inner {
  position: relative;
}

.slick-slide {
  outline: none;
}

.slider__item-content {
  text-align: center;
  color: #fff;

  max-width: 665px;

  padding: 130px 0 150px;

  margin: 0 auto;
}

.slider__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;

  letter-spacing: 0.05em;
}

.slider__text {
  font-size: 18px;
  line-height: 1.333;

  color: #d3d2d2;

  margin: 30px 0 50px;
}

.default-button {
  position: relative;

  font-family: "Roboto", sans-serif;
  font-weight: 500;

  line-height: 1.71429;
  letter-spacing: 0.025em;

  color: #fff;

  background: rgba(255, 194, 34, 0);

  padding: 10px 20px;

  border: 1px solid rgba(255, 194, 34, 1);
  border-right-width: 20px;

  outline: none;

  transition: all 0.2s linear;
}

.default-button:hover {
  background: rgba(255, 194, 34, 1);

  color: #fff;
}

.default-button::after {
  font-family: "icomoon";
  content: "\f105";
  color: #fff;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12.375px;
}

.slick-btn {
  position: absolute;
  top: 50%;
  z-index: 3;

  height: 40px;
  width: 40px;

  border: 1px solid rgb(255, 255, 255, 1);

  background: rgba(255, 194, 34, 1);

  outline: none;
  cursor: pointer;
}

.slick-btn.slick-disabled {
  cursor: default;
  background: rgba(255, 194, 34, 0);
}

.slick-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-prev {
  left: 0;

  font-family: "icomoon";
  content: "\f104";
  color: #fff;
}

.slick-prev::before {
  font-family: "icomoon";
  content: "\f104";
  color: #fff;
}

.slick-next {
  right: 0;
}

.slick-next::before {
  font-family: "icomoon";
  content: "\f105";
  color: #fff;
}

.services {
  padding: 50px 0px 35px;
}

.services__top {
  display: flex;
  justify-content: space-between;

  position: relative;

  padding-bottom: 60px;
}

.services__title-box {
  max-width: 520px;

  padding-left: 140px;

  position: relative;
}

.services__title-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;

  width: 105px;
  height: 2px;

  background-color: #ffc222;
}

.services__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;

  margin-bottom: 15px;

  color: #212020;
}

.services__text {
  line-height: 1.28571;
  letter-spacing: 0.01em;
}

.services__button {
  cursor: pointer;

  transition: background 0.2s linear;
}

.services__button a {
  font-family: "Roboto", sans-serif;
  color: #373636;

  line-height: 1;
  letter-spacing: 0.025em;

  padding: 10px 38px;

  border: 2px solid rgba(230, 230, 230, 1);
}

.services__button:hover {
  background: rgba(230, 230, 230, 1);
}

.services__items {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  max-width: 360px;
  min-height: 375px;
  padding: 25px 0 80px;

  text-align: center;

  align-items: center;

  position: relative;

  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services__item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;

  padding: 25px 0;

  color: #212020;
}

.services__item-text {
  line-height: 1.28571;
  letter-spacing: 0.01em;

  padding: 0 30px 30px;

  word-wrap: break-word;
}

.services__item-links {
  align-items: center;
  justify-content: space-between;

  position: absolute;
  bottom: 40px;

  left: 0;
  right: 0;
}

.services__more {
  font-family: "Roboto", sans-serif;
  line-height: 1.28571;

  border-bottom: 1px solid #050505;

  color: #050505;

  margin-right: 65px;
}

.services__btn {
  color: #373636;

  line-height: 1;
  letter-spacing: 0.025em;

  border: 2px solid rgba(255, 194, 34, 1);
  border-right-width: 20px;

  padding: 11px 26px 11px 33px;
}

.about {
  background: #000 url(../img/bg--1.jpg) no-repeat center / cover;
  min-height: 300px;

  padding: 35px 0 45px;
}

.about__content {
  max-width: 545px;
}

.about__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;

  color: #fff;
}

.about__text {
  line-height: 1.71429;
  letter-spacing: 0.01em;

  padding: 25px 0 35px;

  color: #d3d2d2;
}

.about__button {
  position: relative;

  font-family: "Roboto", sans-serif;
  font-weight: 500;

  line-height: 1;
  letter-spacing: 0.025em;
}

.about__content .default-button::after {
  color: rgba(48, 48, 48, 1);
}

.form {
  padding-top: 45px;
}

.form__inner {
  padding-bottom: 40px;
  background-image: url(../img/woman.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  min-height: 460px;
}

.form__content {
  margin-bottom: 60px;
}

.form__title-box {
  max-width: 520px;

  padding-left: 140px;

  position: relative;
}

.form__title-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;

  width: 105px;
  height: 2px;

  background-color: #ffc222;
}

.form__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;

  line-height: 1;

  margin-bottom: 15px;

  color: #212020;
}

.form__text {
  line-height: 1.28571;
  letter-spacing: 0.01em;
}

.form__box {
  max-width: 850px;
  padding-top: 30px;
}

.form__box-inner {
  display: flex;

  justify-content: space-between;
}

.form__box-inner label {
  font-family: "Roboto", sans-serif;
  line-height: 2.57143;

  color: #282828;
}

.form__box-inner input {
  margin-bottom: 15px;
  padding: 0px 10px;

  height: 40px;
}

.form__box-inner select {
  padding-left: 17px;

  height: 40px;
}

.form__box-inner .jq-selectbox.jqselect {
  display: block;
  width: 100%;

  background-color: transparent;
}

.form__box-inner .jq-selectbox__select {
  font-family: "Roboto", serif;
  color: #282828;

  padding-left: 17px;

  height: 40px;

  border: 1px solid #e6e6e6;
}

.form__box-inner .jq-selectbox__dropdown {
  width: 100%;

  margin: 2px 0 0;
  background-color: #fff;

  border: 1px solid #e6e6e6;
  box-shadow: 0px 5px 10px 2px rgba(91, 89, 89, 0.14);
}

.form__box-inner .jq-selectbox li {
  min-height: 18px;
  padding: 5px 17px 6px;
  color: #231f20;

  transition: all 0.15s linear;
}

.form__box-inner .jq-selectbox li.selected {
  background-color: #fdc946;
  color: #fff;
}

.form__box-inner .jq-selectbox li:hover {
  background-color: #ffc222;
  color: #fff;
}

.form__box-inner .jq-selectbox__trigger-arrow:before {
  font-family: "icomoon";
  content: "\f105";

  position: absolute;

  right: 17px;
  top: 0;
  transform: rotate(90deg);
}

.form__box-inner textarea {
  padding: 10px;
  height: 222px;

  margin: 0;

  resize: none;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea {
  display: block;
  width: 100%;
}

.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select {
  border: 1px solid #e6e6e6;

  color: #282828;

  outline: none;
}

.form__box-left {
  max-width: 260px;
  width: 100%;
}

.form__box-right {
  max-width: 555px;
  width: 100%;
}

.form__button {
  color: #282828;

  line-height: 1;
  letter-spacing: 0.025em;

  padding: 11.2px 27px;

  background-color: white;

  border: 2px solid rgba(255, 194, 34, 1);
  border-right-width: 20px;

  margin-top: 51px;

  float: right;

  cursor: pointer;
}

.form__button::after {
  color: #282828;

  transition: all 0.2s linear;
}

.advantages {
  background: #1b1b1b url(../img/bg--2.jpg) no-repeat center / cover;
  min-height: 285px;
}

.advantages__inner {
  display: flex;

  justify-content: space-between;

  padding: 66.22px 0 40px;
}

.advantages__item {
  max-width: 360px;

  text-align: center;
}

.advantages__check::before {
  font-family: "icomoon";
  color: #fff;
  content: "\f00c";

  border: 2px solid #ffc222;

  padding: 11px 11px;
}

.advantages__title {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1.333;

  padding: 35px 0 20px;
}

.advantages__text {
  color: rgb(211, 210, 210);

  line-height: 1.714;
  letter-spacing: 0.01em;
}

.news {
  padding: 50px 0px 95px;
  background-color: #f9f9f9;
}

.news__top {
  display: flex;
  justify-content: space-between;

  position: relative;

  margin-bottom: 60px;
}

.news__top-title-box {
  max-width: 520px;

  padding-left: 140px;

  position: relative;
}

.news__top-title-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;

  width: 105px;
  height: 2px;

  background-color: #ffc222;
}

.news__top-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;

  line-height: 1;

  margin-bottom: 15px;

  color: #212020;
}

.news__top-text {
  line-height: 1.28571;
  letter-spacing: 0.01em;
}

.news__button {
  cursor: pointer;

  transition: background 0.2s linear;
}

.news__button a {
  font-family: "Roboto", sans-serif;
  color: #373636;

  line-height: 1;
  letter-spacing: 0.025em;

  padding: 10px 38px;

  border: 2px solid rgba(230, 230, 230, 1);
}

.news__button:hover {
  background: rgba(230, 230, 230, 1);
}

.news__inner {
  display: flex;
  justify-content: space-between;
}

.news__slider::before {
  font-size: 16px;
  font-family: "icomoon";
  content: "\f10e";

  color: rgb(255, 255, 255);

  line-height: 1.125;

  padding: 8px 25px;

  background-color: #ffc222;

  text-align: center;

  position: absolute;
  top: 0;
  left: 70px;
}

.news__slider {
  max-width: 555px;
  width: 100%;

  background-color: #fff;

  padding: 60px 35px 45px 70px;

  box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);

  position: relative;
}

.news__slider-inner {
  position: relative;
}

.news__slider-inner .slick-btn {
  position: absolute;
  right: 0;
  top: auto;
  bottom: -110px;
  z-index: 3;

  height: 40px;
  width: 40px;

  border: 1px solid rgb(255, 255, 255, 1);

  background: rgba(255, 194, 34, 1);

  outline: none;
  cursor: pointer;
}

.news__slider-inner .slick-disabled {
  cursor: default;
  background: rgba(255, 194, 34, 0);

  border: 1px solid #dadada;
}

.news__slider-inner .slick-disabled.slick-btn::before {
  color: #9e9c9c;
}

.news__slider-inner .slick-prev {
  left: auto;
  right: 20px;
}

.news__slider-inner .slick-next {
  right: -35px;
}

.news__block-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;

  color: rgb(36, 36, 36);

  line-height: 1.333;
  letter-spacing: 0.05em;
}

.news__block-text {
  color: rgb(94, 94, 94);

  line-height: 1.286;
  letter-spacing: 0.01em;

  padding: 17px 0px 35px;
}

.news__block-auth {
  font-family: "Roboto";
  font-weight: 500;

  color: rgb(33, 32, 32);

  line-height: 1.286;
  letter-spacing: 0.01em;
}

.news__blog {
  max-width: 260px;
  width: 100%;
}

.news__images {
  position: relative;
}

.news__date {
  font-weight: 700;
  color: rgb(249, 249, 249);
  line-height: 1.286;

  text-align: center;

  padding-top: 30px;

  background-color: #ffc222;

  height: 54px;
  width: 47px;

  position: absolute;
  top: -1px;
  left: 10px;
}

.news__blog-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: rgb(36, 36, 36);

  line-height: 1.125;
  letter-spacing: 0.05em;

  padding: 18px 0px 11px;
}

.news__blog-text {
  color: rgb(94, 94, 94);
  line-height: 1.286;
  letter-spacing: 0.01em;
}

.footer__content {
  background-color: #595959;

  padding: 27px 0px 20px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;

  position: relative;

  align-items: center;
}

.footer__item {
  max-width: 370px;
  width: 100%;
}

.footer__item-title {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 2.25;

  letter-spacing: 0.05em;
}

.footer__item-text {
  font-family: "Roboto";
  color: rgb(211, 210, 210);
  line-height: 1.286;

  padding: 8px 0px 25px;
}

.footer__button {
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  font-size: 16px;
  line-height: 1;

  background-color: #ffc222;

  padding: 15px 20px 15px 45px;

  position: relative;

  outline: none;
}

.footer__button::before {
  font-family: "icomoon";
  content: "\f0b1";
  color: #1b1b1b;

  position: absolute;
  left: 20px;
}

.footer__list {
  margin-top: 26px;
}

.footer__list li {
  list-style-type: none;

  margin-bottom: 18px;
}

.footer__list a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;

  line-height: 1.5;
  letter-spacing: 0.025em;

  padding-left: 33px;

  position: relative;
}

.footer__phone::before {
  font-family: "icomoon";
  color: #ffc222;

  content: "\f095";

  position: absolute;
  left: 3px;
}

.footer__envelope::before {
  font-family: "icomoon";
  color: #ffc222;

  content: "\f003";

  position: absolute;
  left: 0;
}

.footer__address::before {
  font-family: "icomoon";
  color: #ffc222;

  content: "\f041";

  position: absolute;
  left: 3px;
}

.footer__map {
  padding-top: 10px;
  max-width: 630px;
  width: 100%;
}

.footer__map iframe {
  width: 100%;
}

.footer__copyright {
  background-color: #303030;

  padding: 30px 0;

  position: relative;
}

.copyright__text {
  font-family: "Roboto";
  font-size: 12px;

  text-align: center;

  color: rgb(255, 255, 255);

  line-height: 1.5;
  letter-spacing: 0.05em;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.header__burger {
  color: #000;

  display: none;

  background: transparent;
  border: 0;

  cursor: pointer;

  outline: none;
}

.icon-bars {
  font-size: 30px;
  color: #ffc222;
  float: right;
}

/* .burger__item::before {
  font-family: "icomoon";
  content: "\f0c9";
  font-size: 24px;

  width: 27px;
  height: 27px;

  text-align: center;

  padding-top: 1px;

  color: #ffc222;

  border: 1px solid transparent;

  display: block;

  background-color: #fff;

  position: absolute;
  top: -17px;
  left: -25px;
  z-index: 3;
} */

#modal {
  width: 300px;

  display: none;

  cursor: default;
}

#modal input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  width: 100%;
  height: 40px;

  display: block;

  margin-bottom: 20px;
  padding: 0px 10px;

  outline: none;

  border: 1px solid #e6e6e6;
}

#modal input[type="submit"] {
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  letter-spacing: 0.025em;

  background: rgba(255, 194, 34, 0);

  padding: 10px 20px;
  margin: 35px 0px 0px;

  border: 2px solid rgba(255, 194, 34, 1);

  outline: none;

  transition: all 0.2s linear;
}

#modal input[type="submit"]:hover {
  color: #fff;

  background: rgba(255, 194, 34, 1);
}
